[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hnswlib = "*"
fastapi = {extras = ["all"], version = "*"}
numpy = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.8"
